.THIS .margin-auto {
    margin: 0 auto;
}

.THIS .full-image {
   /* width:65%;*/
   margin-bottom: 2%;
    border: 3px solid #ff7002;
    border-radius: 9px;
}

.THIS .slide-container {
    flex-direction: column;
}

.THIS .slide-outer-block {

    border-radius: 25px;
    background: white;
    /*border: 2px solid grey;*/
    box-shadow: 0px 0px 5px 0px lightgrey;

   
}
.THIS .guide-instruction-block {

}
.THIS .step-listItem li {
     font-size: 1.2em;
  /*color: #686c77;*/
    
}

.THIS .step-inner-listItem li {
     font-size: 1em;
  color: #686c77;
    
}
.THIS .step-inner-listItem {
    padding: 3%;   
    list-style: none;
    counter-reset: steps;
}

.THIS .step-listItem  {
    padding:1%;
        width: 100%;
    margin-left: 4%;
    }

.THIS .step-listItem ol li::before {
  background: darkorchid;
}

.THIS .step-listItem  {
  list-style: none;
  counter-reset: steps;
}
.THIS .step-listItem  li {
    counter-increment: steps;
    
}

.THIS .step-listItem .list-type-verticle {
    display: flex;
   /* align-items: center;*/
    margin-left: 2%;
    flex-direction: column;
}


  .THIS .step-listItem  li p.steps::before ,.THIS .step-listItem  li.steps::before {
    /**.THIS .step-listItem  li::before ,**/
 content: counter(steps);
    margin-right: .5rem;
    background: #ff6f00;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 0.8em;
    font-weight: 900;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}


.THIS.path-container {
    width: 83%; 
    margin: 1% auto;
    position: sticky;
    top: 0%;
    padding-bottom: 1%;
    background: #fafaf9;
    z-index: 99999;
    padding-top: 1%;
}

.THIS .slds-is-complete {
        background: #2d844a;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: tahoma, arial, verdana, sans-serif;
    letter-spacing: 0.04em;
}

.THIS .Next-carousel,.THIS .Next-carousel:hover {
    position: fixed;
    top: 50%;
    bottom: 50%;
    right: 0.5rem;
    height: 3em;
    color: white;
    padding: 0;
    font-size: small;
    padding-right: .8rem;
    text-transform: capitalize;
    min-width: 4.7rem;
    background: #d26307;



}

.THIS .previous-carousel,.THIS .previous-carousel:hover {
      position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0.3rem;
    background: #d26303;
    height: 3em;
    color: white;
    padding: 0;
    font-size: small;
    padding-right: 1.8rem;
    text-transform: capitalize;
    max-width: 4.7rem;
}

.THIS .dependecyStep-headline {
    padding-top: 4%;
    padding-left: 4%;
    font-size: 1rem;
}
.THIS .Path-custom {
    bottom: 50%;
    top: 21%;
        right: 10%;
    width: 12%;
    
}
/* .THIS .Path-custom li {
  padding: 3% 4%;
    background: #e4e4e4;
    margin-top: 3%;
}*/

.THIS .Path-custom li.step-complete{
   /* background: green;
    border: 2px solid green !important;*/
    font-weight: 600;
}
.THIS .Path-custom li.step-complete a{
  color: green;  
}

  .THIS .step-item.step-complete:before {
       background-color: #028103;
}

/*.THIS .Path-custom li.step-current {
   
    color: #2370e2!important;
    border: 1px solid #0376d2!important;
    background: white;
    font-weight: 600;
    box-shadow: 1px 1px 9px 0px;
}*/
.THIS .Path-custom li.step-current {
   
    color: #2370e2!important;
    background: white;
    font-weight: 600;
   /* box-shadow: 1px 1px 9px 0px;*/
}
.THIS .Path-custom li.step-incomplete{
   /* color: #2370e2!important;
    border: 2px solid #0376d2!important;
    background: white;
    font-weight: 600;*/
}
.THIS .path-container {
   border-left: 1px solid #c7c6c6; 
}

/*test here*/
.THIS .step-item {
    position: relative;
    left: 12.5px;
    border: none;
    border-left: 3px solid #cfd7e6;
    border-radius: 0;
    counter-increment: step-counter;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 0;
    min-height: 70px;
    text-transform: uppercase;
    font-weight: 300;
}
     .THIS .step-item.step-current:before {
    background-color: #00396b;
    color: #fff;
}
        .THIS .step-item:before {
    border-radius: 50%;
    background-color: #cfd7e6;
    color: #555;
    content: "";
    display: inline-block;
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    transform: translateX(-55%);
}
 .THIS .step-item:last-child {
    border-left: 3px solid transparent;
    padding-bottom: 0;
    min-height: 0;
}
.THIS .introduction-step-block {
    box-shadow: 1px 1px 7px 0px #adacab;
    width: 68%;
    margin: 3% auto;
   padding: 3% 2% 4% 7%;
    border-radius: 25px;
}