.THIS .wrapper-component, .THIS.wrapper-component{
    background: white;
      scroll-behavior: smooth;

}

.THIS .preview-window-heading {
    /* padding: 1%; */
    /* border: 3px solid grey; */
    /* background: #f5f5f5; */
    color: #17325c;
    text-align: center;
    font-weight: 800;
    font-size: large;
    border-radius: 10px;
    text-shadow: #ffffff 1px 1px 16px;
}

.THIS .outer-container {
    display: flex;
    flex-wrap: wrap;
}


/*scroll added*/

.THIS .element-outer-container {
    background: white;
    padding: 1%;
    max-height: 880px;
    overflow-y: scroll;
}

.THIS .element-outer-container-actionbar {
    background: white;
    padding: 1%;
}

.THIS .custom-margin-auto,
.THIS.custom-margin-auto {
    margin: auto;
}

.THIS .element-container {
    display: block;
}

.THIS .element-block {
    background: white;
     border: 1px solid #d8d8d8;
    /*padding: 1%; removed by madhava
     padding: 0.8em 0 0.7em 0.9em;*/
     padding: 0.5em 0 0.5em 0.9em;
    border-radius: 6px;
    font-size: 0.98em;
}

.THIS .parentBlock {
    background: #f6f6f6;
}

.THIS .default-CheckBox span.slds-checkbox_faux {
    border-width: 0.05em;
    border-radius: 25px;
    border-color: darkslategrey;
}

.THIS .selected-CheckBox span.slds-checkbox_faux {
    border-color: #358e37 !important;
}

.THIS .error-CheckBox span.slds-checkbox_faux {
    Border-color: rgb(178 0 0) !important;
    box-shadow: 1px 0px 6px 2px #ec8b8b !important;
}

.THIS .dependency-error-CheckBox span.slds-checkbox_faux {
    background: #e21919;
    box-shadow: 0px 0px 0px 0px #decbcb !important;
}

.THIS .highlight-green-border {
    /* border-color: #6f966f;
    border-width: 0.3em;
    box-shadow: 1px 1px 5px 1px #5eb133;*/
    border-color: #a0c3a0;
    border-width: .3em;
    /* box-shadow: 1px 1px 5px 1px #5eb133; */
    /* margin-top: 31%; */
    border-radius: 7px;
    background: #e2f1eb;
    
}

/** Changes by Madhava **/
.THIS .copied-element-element {
   /* background: #2f7d27;
    padding: 1%;
    border: 3px solid #d2d4d8;
    color: #fbfbfb;
    font-weight: 800;*/
    
        background: #2f7d27;
    color: #fbfbfb;
    font-weight: 800;
    border-radius: 6px;
    font-size: .98em;
   /* padding: .8em 0 .7em .9em;*/
    padding: .5em 0 .5em .9em;
    border: 0.24em solid #d2d4d8;
}

.THIS .destination-element-element {
    background: #fffcfc;
    /* border: 1px solid grey;*/
    color: #080808;
}

.THIS .source-block {
    /*background: #a1a2a5;*/
    background: #e4e4e4;
}


/*scroll added*/

.THIS .destination-block {
    background: #e4e4e4;
    max-height: 880px;
    overflow-y: scroll;
}


/*scroll added*/

.THIS .preview-block {
    background: #d7d7da;
    max-height: 880px;
    overflow-y: scroll;
}

.THIS .setting-icon {
    color: #b52300;
    float: right;
    margin-right: 3%;
}

.THIS .active-dot {
    border-radius: 23px !important;
    padding: 7% 0;
}

.THIS .omniscript-detail-box {
    /*background: #f3f3f3;
    color: #080707;
    border: 1px solid black;*/
    box-shadow: inset 1px 0px 10px 3px #c7bcbc;
    font-weight: 700;
    background: #ffffff;
    color: #080707;
    border: 1px solid #b7aeae;
}

.THIS.element-outer-block {
    border: 3px solid white;
}

.THIS .input-override label {
    padding: 1% 3% 0% 2%;
    color: #838588;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 1%;
}

.THIS .input-override input:focus {
    border-top: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
}

.THIS .input-override input {
    border: none;
    /*  border-bottom: 1px solid #080707;*/
    padding: 1% 4%;
    box-shadow: 0px 5px 5px 0px #dadada;
}


/*help carousel*/

.THIS .help-carousel {
    position: fixed;
    /* Sit on top of the page content */
    /* width: 100%; /* Full width (cover the whole page) */
    /* height: 100%; /* Full height (cover the whole page) */
    /*top: 0;*/
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}

.THIS .close-carousel {
    z-index: 3;
    position: fixed;
    top: 97%;
    left: 95%;
    background-color: white;
    width: 80px;
    padding-left: 10px;
}

.THIS cMS_POC_REUSE_OmniscriptCopy>spanClass {
    padding: 0;
}

.THIS .child-button-margin>.slds-button:nth-child(1) {
    margin-right: 10px;
}

.THIS .child-button-margin>.slds-button:nth-child(2) {
    margin-left: 10px;
}
.THIS .child-button-margin>.slds-button:nth-child(3) {
    margin-left: 20px;
}


/*Removing inline styles */

.THIS .target-omniscript {
    font-size: 1.5em;
    font-weight: 600;
    padding: 1% 1%;
}

.THIS .letter-spacing-search {
    letter-spacing: 0.025rem;
}

.THIS .active-OS {
    color: green;
    font-weight: 700;
}

.THIS .display-flex {
    display: flex;
}

.THIS .custom-box-choose-from {
    padding: 2%;
    border: 3px solid #ff0101;
    margin: 2%;
    color: red;
    background: white;
}

.THIS .choose-from {
    padding: 1%;
    color: green;
    font-size: 1.4em;
    width: 30%;
}

.THIS .list-item-container {
    width: 85%;
    box-shadow: 1px 2px 5px 1px grey;
    padding: 1%;
}

.THIS .list-item-name {
    color: #1875ad !important;
    font-family: verdana;
    padding: 2%;
}

.THIS .list-item-type {
    color: #f9e373 !important;
    font-family: verdana;
    padding: 0% 2%;
    border: 1px solid;
    border-radius: 23px;
    background: #bf2682;
}

.THIS .display-grid {
    display: grid;
}
.THIS .missing-parent{
    padding:1%;
    font-size:2em;
}

.THIS .action-button-block {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.THIS .top-button {
        bottom: 30%;
    right: 4px;
}

.THIS .top-button button { border-radius: 25px;}

/*End of: Removing inline styles*/

.THIS .close-option-parent>.close-option {
    color: red;
    cursor: pointer;
    z-index:999;
}
.THIS .slds-carousel__image > img{
    height:800px;
}
.THIS .list-ellipsis{
    text-overflow: ellipsis;
    width: 95%;
}
.THIS .testCarousel1{
}
.THIS .testCarousel2{
    transform: translateX(-100%) !important;
}
.THIS .testCarousel3{
    transform: translateX(-200%) !important;
}
.THIS .testCarousel4{
    transform: translateX(-300%) !important;
}
.THIS .testCarousel5{
    transform: translateX(-400%) !important;
}
.THIS .testCarousel6{
    transform: translateX(-500%) !important;
}

.THIS .slds-modal__close {
    background: white !important;
    color: black !important;
    padding-bottom: 12px !important;
}

.THIS  .slds-modal__container { 
    height : auto !important;
    width: 100% !important;
    max-width: 92% !important;
} 
.THIS  .modal-body { 
    height: 87vh !important;
    max-height: 89vh !important;
} 
.THIS .slds-modal__footer{ 
    display: inline !important; 
}

.THIS .tool-header {
        margin-top: -7%;
    font-size: 1.7rem;
    color: #0b4d92;
    text-shadow: 1px 1px 0 #cccccc;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
}